.vistaAdmin {
    border: 3px solid #FFC107;
    padding: 1%;
    -webkit-border-radius: 15px;
    border-radius: 15px; 
    margin-left: 20%;
    margin-right: 20%;
}


input[type=text], input[type=password], input[type=date], input[type=email]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

button {
    background-color: #FFC107; /*#4CAF50*/
    color: black;
    padding: 1.7%;
    margin-left: 35%;
    border: none;
    cursor: pointer;
    width: 30%;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    font-family: miFuente;
    src: url(../fonts/BebasKai.otf);
    font-size: 20px;
    /*margin-bottom: 1%;*/
}

button:hover {
    opacity: 0.8;
    background-color: black;
    color: #FFC107;
}